/*
Colours
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
 background-color: rgba(9,121,105);
*/
/* Landing Page */
body, html {
    margin: 0;
    padding: 0;
}  

#home-page {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/index/fabric.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 6%;
    padding-left: 5%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(4, 9, 30, 0.26);
}

nav img {
    width: 70px;
}

.nav-links {
    text-align: right;
    font-family: 'Playfair Display', serif;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 23px;
}

.title-box {
    width: 90%;
    color: rgb(31,160,96);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%,-50%);
    text-align: center;
}

.title-box h1{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.title-box p{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

/* Product features */
#Prodfeat {
text-align:center;

}
.h3 {
    text-align: left;
    color:#097969;
}
.header{
    overflow: hidden;
    background-color:rgb(9,121,105);
    padding: 10px 10px;
}

.header a.logo{
    text-decoration: none;  
    font-size: 25px;
    color: rgb(228, 228, 228);
}


.header a.about{
    text-decoration: none;
    font-size: 25px;
    float: right;
    padding: 0px 15px;
    color: rgb(228, 228, 228);
} 
.header a:hover{
   
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255);
    text-decoration-line:underline;
}


.form {
    text-align: center  ;
       
}



.img_contatc_us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding: 0px 50px 50px 50px ;  
    
    background-color: blueviolet;

}



.blurb_main  {
       
    position:relative;
    float:right;
    right: 200px;
    bottom: 480px;
    transform: translate(-50%, -50%);

}


h2b{
    position: relative;
    bottom: 700px;
    left : 155px;
    float: left;
    font-size: 60px;
    color:darkorchid;
    transform: translate(-50%, -50%);

}

    
.blurb_main h1{
    color: rgb(45, 65, 182);
}

.boxed {
    text-align: center;
    padding: 25px 25px 25px 25px;
    background-color: #f8f8f8;
    position: relative;
    border: 1px solid #e5e5e5 ;
    transform: translate(-50%, -50%);
    float: left;
    bottom: 350px;
    left : 200px;

}

.box {
    text-align: center;
    padding: 25px 25px 25px 25px;
    background-color: #f8f8f8;
    
    position: relative;
    border: 1px solid #e5e5e5 ;
    transform: translate(-50%, -50%);
    float: left;
    bottom: 350px;
    left : 0px;

}

/* About */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(9,121,105),rgba(4,9,30,0.7)),url(images/About\ Us/Corporate);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}

.Origin{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.Origin{
    flex-basis: 48%;
    padding: 30px 2px;
}
.Origin img{
    width: 50%;
}

.Why{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.Why{
    flex-basis: 48%;
    padding: 30px 2px;
}
.Why img{
    width: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }