/*
Colours
#0d1b2a
#1b263b
#415a77
#778da9
#e0e1dd
*/
/* Landing Page */
body, html {
    margin: 0;
    padding: 0;
  }  

.clear-floats {
    clear: both;
}

.container {
    max-width: 1300px;
    width:calc(100% - 10px);
    margin: 0 auto;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #0d1b2a;
}

.navbar .nav-links {
    float: right;
    width: 70%;
    text-align: right;
    font-size: x-large;
    margin-top: 10px;
}

.navbar .nav-links a:hover {
    color: #878780;
}

.navbar a {
    color: #e0e1dd;
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px;
    margin: 0 10px;
}
.navbar .logo {
    float: left;
    width: 30%;
}
.navbar .logo img {
    height:44px;
}

.content {
    height: calc(91vh + 9px);
}

.bgimg {
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* Image by <a href="https://pixabay.com/users/islandworks-1139623/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2540633">Q K</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2540633">Pixabay</a> */

.blurb{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.blurb h1 {
    color: red;
}

.solid-box {
    margin: 0;
    background-color: #e0e1dd;
    width: 100%;
    height: 200px;
}

/* Product features */
#Prodfeat {
text-align:center;

}

.header{
    overflow: hidden;
    background-color: #464545;
    padding: 10px 10px;
}

.header a.logo{
    text-decoration: none;  
    font-size: 25px;
    color: rgb(228, 228, 228);
}


.header a.about{
    text-decoration: none;
    font-size: 25px;
    float: right;
    padding: 0px 15px;
    color: rgb(228, 228, 228);
} 
.header a:hover{
   
    color: rgb(255, 255, 255);
}

.form {
    text-align: center  ;
       
}

.img_contatc_us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding: 0px 50px 50px 50px ;  
    
    background-color: blueviolet;

}



.blurb_main  {
       
    position:relative;
    float:right;
    right: 200px;
    bottom: 480px;
    transform: translate(-50%, -50%);

}


h2b{
    position: relative;
    bottom: 700px;
    left : 400px;
    float: left;
    font-size: 60px;
    color:darkorchid;
    transform: translate(-50%, -50%);

}

    
.blurb_main h1{
    color: rgb(45, 65, 182);
}

